@import '@/scss/shared/_variables.scss';

@mixin color($variable) {
  .c-#{$variable} {
    background-color: var(#{'--' + $variable + '-color'});
    color: var(#{'--' + $variable + '-fg-color'});
  }

  .c-#{$variable}-bg {
    background-color: var(#{'--' + $variable + '-color'});
  }

  .c-#{$variable}-fg {
    color: var(#{'--' + $variable + '-color'});
  }
}

@mixin respond-to($media) {
  @if $media==mobile {
    @content;
  }

  @else if $media==small {
    @media (min-width: $sml-width) {
      @content;
    }
  }

  @else if $media==medium {
    @media (min-width: $med-width) {
      @content;
    }
  }

  @else if $media==large {
    @media (min-width: $lrg-width) {
      @content;
    }
  }

  @else if $media==xlarge {
    @media (min-width: $xlg-width) {
      @content;
    }
  }

  @else if $media==mobile-only {
    @media (max-width: ($sml-width - 1px)) {
      @content
    }
  }

  @else {
    @media (min-width: $media) {
      @content;
    }
  }
}
