// Widths
$mbl-width: 0px;
$sml-width: 576px;
$med-width: 768px;
$lrg-width: 992px;
$xlg-width: 1600px;

// Generic
$darker-filter: brightness(0.9);
$display-fonts: 'Sora', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$high-transparency: 0.4;
$lighter-filter: brightness(1.1);
$low-transparency: 0.8;
$padding: 20px;
$serif-fonts: 'Sen', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$slow-transition-speed: 1s;
$transition-speed: 0.2s;

// Components
$action-bar-height: 52px;
$dual-column-layout-content-width: 450px;
$sidebar-width: $dual-column-layout-content-width;
$transactions-list-item-icon-width: 2.5em;