// Widths
$mbl-width: 0px;
$sml-width: 576px;
$med-width: 768px;
$lrg-width: 992px;

// Generic
$darker-filter: brightness(0.9);
$display-fonts: 'Sora', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$hover-scale: scale(1.1);
$lighter-filter: brightness(1.1);
$padding: 20px;
$pressed-scale: scale(0.9);
$serif-fonts: 'Sen', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$transition-speed: 0.2s;