$mnz-accent-color: #fe4d55;
$mnz-accent-fg-color: white;
$mnz-background-color: #f7f7f7;
$mnz-border-color: #c8c8ca;
$mnz-foreground-color: #1a2533;
$mnz-input-bg-color: #ffffff;
$mnz-input-fg-color: #1a2533;
$mnz-nav-bg-color: #ffffff;
$mnz-nav-fg-color: #707c8c;
$mnz-overlay-color: rgba(0,0,0,0.8);
$mnz-panel-bg-color: #ffffff;
$mnz-primary-color: #01a3Da;
$mnz-primary-fg-color: white;
$mnz-radius: 5px;
//$mnz-shadow: 0 0 5px #d1d1d1;
$mnz-shadow: 0 0 5px rgba(0,0,0,0.1);
$mnz-well-bg-color: rgba(0,0,0,0.1);