@import "@/scss/shared/_variables.scss";

@import "@/scss/common/_fill.scss";
@import "@/scss/common/_panel.scss";
@import "@/scss/common/_theme.scss";

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&family=Sora:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: $serif-fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  margin: 0;
  overflow: hidden;
}

a,
button,
input,
select,
textarea {
  transition: $transition-speed;

  &:focus,
  &:hover {
    filter: $lighter-filter;
    outline: 0 !important;
  }
}

a,
button {
  cursor: pointer;
  text-decoration: none;

  &:active {
    filter: $darker-filter;
  }
}